@model SoftWC.Models.Turno
@using Microsoft.AspNetCore.Identity
@using SoftWC.Models
@inject SignInManager<SoftWC.Models.Usuario> SignInManager
@inject UserManager<SoftWC.Models.Usuario> UserManager
@Html.AntiForgeryToken()

<link rel="stylesheet" href="~/css/Delete.css" />

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();       

    var layoutRoles = new[] { "Administrador", "Contador", "Controltotal", "Supervisor" };
    if (roles.Any(r => layoutRoles.Contains(r)))
    {
        Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    }    
}
@{
    ViewData["Title"] = "Delete";
}

<div class="delete-container">
    <h1 class="delete-title">Eliminar</h1>
    <h3 class="delete-warning">¿Estas seguro de eliminar todos estos datos de la entidad seleccionada?</h3>
    <div class="delete-details">
        <h4>Turno</h4>
        <hr />
        <dl class="delete-dl">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.NombreTurno)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.NombreTurno)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.HoraInicio)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HoraInicio)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.HoraFin)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.HoraFin)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
        <form asp-action="Delete" class="delete-form">
            <input type="hidden" asp-for="TurnoId" />
            <input type="submit" value="Eliminar" class="btn-eliminar" />
            <a asp-action="Index" class="btn-regresar">Regresar a la lista</a>
        </form>
    </div>
</div>
<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" ></script>
<script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")" ></script>